<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82695125161-nj3r3qbj06gg2upb2fg5584f8a70f43g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82695125161-nj3r3qbj06gg2upb2fg5584f8a70f43g</string>
	<key>API_KEY</key>
	<string>AIzaSyA-lmn3d_cr3PcHYVj5jTOGmZtp9vT5zzA</string>
	<key>GCM_SENDER_ID</key>
	<string>82695125161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sc.fortlineAdminApp</string>
	<key>PROJECT_ID</key>
	<string>fortlinedatabase-bfdb9</string>
	<key>STORAGE_BUCKET</key>
	<string>fortlinedatabase-bfdb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82695125161:ios:7a54a67469135d447351b8</string>
</dict>
</plist>